<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>975640088103-vbiiem507aarnul44loop4262rcmd36s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.975640088103-vbiiem507aarnul44loop4262rcmd36s</string>
	<key>API_KEY</key>
	<string>AIzaSyCQJ9e6dRxUez5iVM_7kMcBHdQ7VDgSBZI</string>
	<key>GCM_SENDER_ID</key>
	<string>975640088103</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MohMaya.Firebase-Instagram-Clone</string>
	<key>PROJECT_ID</key>
	<string>fir-instagram-clone-1c180</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-instagram-clone-1c180.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:975640088103:ios:fc371f6bc89d0374</string>
	<key>DATABASE_URL</key>
	<string>https://fir-instagram-clone-1c180.firebaseio.com</string>
</dict>
</plist>